.logo {
    padding-top: 80px;
}


  
  .logo-img {
    max-width: 200px; /* Ajusta el tamaño máximo del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 10px; /* Ajusta el margen según sea necesario */
  }