<ion-item *ngIf="type !== 'textarea'" class="ion-margin-vertical" lines="none">
  <ion-icon class="color-icono" *ngIf="icon" slot="start" [name]="icon"></ion-icon>
  <ion-input [type]="type" [autocomplete]="autocomplete" [label]="label" [formControl]="control" label-placement="floating"></ion-input>


  <ion-button *ngIf="isPassword" (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
  </ion-button>

</ion-item>


<ion-item *ngIf="type == 'textarea'" class="ion-margin-vertical">
  <ion-label label-placement="floating" position="floating">{{label}}</ion-label>
  <ion-textarea auto-grow="true" debounce="500" [formControl]="control"></ion-textarea>
<ion-item>

