<app-header backButton="/auth" title="Recuperar cuenta"></app-header>
<ion-content>
  

<div class="d-flex-center">
  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <app-logo></app-logo>
        
    <app-custom-input icon="mail-outline" autocomplete="email" [control]="form.controls.email" type="email" label="Correo">

    </app-custom-input>

    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
      <div class="ion-text-end" *ngIf="form.controls.email.errors?.['required']">El correo es obligatorio</div>
      <div class="ion-text-end" *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
    </div>

    <p class="ion-text-center">Te enviaremos un correo para que puedas restablecer tu contraseña</p>


    <ion-button expand="block" class="submit custom-black-button" type="submit" [disabled]="form.invalid">
      Recuperar
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>

  </form>
</div>


</ion-content>
