<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content [fullscreen]="true">
  <ion-card class="container-pendientes">
    <div class="badge-container">
      <ion-badge class="nTareas" slot="end">{{ pendingTasksCount }}</ion-badge> <!-- Muestra el conteo de tareas pendientes -->
    </div>
    <ion-card-header>
      <ion-card-title>Tareas pendientes</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="pendingTasks.length > 0; else noTasks">
      <ion-list>
        <ion-item *ngFor="let task of pendingTasks">
          <ion-label>
            <h2>{{ task.title }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ng-template #noTasks>
      <p class="notarea">No hay tareas pendientes</p>
    </ng-template>
  </ion-card>

  <div class="card-container">
    <ion-card class="custom-card" (click)="navigateToProgress()">
      <ion-icon icon="arrow-forward-outline" slot="start"></ion-icon>
      <ion-card-header>
        <ion-card-title>Mi Progreso</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Visualiza tu progreso aquí</p>
      </ion-card-content>
      <ion-button fill="clear" slot="end">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-card>

    <ion-card class="custom-card" (click)="navigateToWeeklyTasks()">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-card-header>
        <ion-card-title>Tareas de la semana</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Revisa las tareas para esta semana</p>
      </ion-card-content>
      <ion-button fill="clear" slot="end">
        <ion-icon name="return-down-forward-outline"></ion-icon>
            </ion-button>
    </ion-card>
  </div>
  

  
</ion-content>
