ion-avatar {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.photo-btn {
    position: relative;
    bottom: 25px;
    --background: black; /* Fondo negro */
    --color: white; /* Texto e íconos en blanco */
    --border-radius: 50%; /* Opcional: si quieres que sea un botón redondo */
  }
  
  .photo-btn:hover {
    --background: #333333; /* Fondo más oscuro al hacer hover */
  }

ion-item {
    --padding-top: 15px;
}

.empty-icon {
    font-size: 140px;
    opacity: 30%;
}

h2 {
    margin-top: 5px;
}

.btn-actualizar {
    margin: 25px auto; /* Centra el botón horizontalmente */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    --background: black; /* Fondo negro */
    --color: white; /* Texto blanco */
    --border-radius: 15px; /* Bordes redondeados */
  }
  
  .btn-actualizar:hover {
    --background: #333333; /* Fondo más oscuro al hacer hover */
  }