<app-header [showMenu]="true" title="Perfil"></app-header>

<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img *ngIf="userData.image" [src]="userData.image" />
    <ion-icon *ngIf="!userData.image" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>

  <ion-button class="photo-btn" (click)="takeImage()" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="userData.name" name="name" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="userData.email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="btn-actualizar">Actualizar Perfil</ion-button>
  </form>

</ion-content>
